.previewImg-container {
    overflow: hidden;
}

.previewImg-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 95%;
    height: 95%;
    background: #000;
    /*opacity: 0.3;*/
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.previewImg-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.previewImg-img--drag {
    cursor: pointer;
}

.previewImg-closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
}

.previewImg-closeBtn--hover {
    background: #f00;
}

.previewImg-zoomTip {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
}

.previewImg-zoomTip--hide {
    display: none;
}

/*缩略图样式*/
.miniImg {
    position: fixed;
    border: 1px solid #fff;
    border-radius: 5px;
}

.miniImg-mask {

    background: #000;
    /*opacity: 0.3;*/
    background: rgba(0, 0, 0, 0.2);
    z-index: 2001;
}
.miniImg-imgBox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.miniImg-img {
    height: 100%
}
.miniImg-closeBtn--hover {
    background: #f00;
}
.miniImg-frame {
    position: absolute;
    border: 1px solid #333;

}





